<ion-header>
  <ion-toolbar>
    <ion-title>Crear Encomienda</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="menu-cliente"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list-header class="ion-text-center">
    <ion-label> ¿Que vas a Enviar?</ion-label>
  </ion-list-header>
  <form (ngSubmit)="onSubmit(this.formPackage)" [formGroup]="this.formPackage">
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Informacion del Envio</ion-label>
      </ion-item-divider>
      <ion-accordion-group  #groupCategory expand="compact">
        <ion-accordion #category value="" toggle-icon="arrow-down-circle">
          <ion-item slot="header">
            <ion-label>
              <p>Categoria</p>
              <h4>{{ category.value != ''? category.value : 'Seleccionar'}}</h4>
            </ion-label>
          </ion-item>
          <ion-item-group slot="content">
            <ion-item 
              button 
              *ngFor="let item of categoryList"
              (click)=" category.value = item; groupCategory.value = undefined; this.formPackage.get('type').setValue(item)" 
              >
              <ion-label>{{ item }}</ion-label>
              <ion-icon slot="start" name="add"></ion-icon>
            </ion-item>
          </ion-item-group>
        </ion-accordion>
      </ion-accordion-group>
      <ion-item-divider>
        <ion-label class="form">Metodo de pago</ion-label>
      </ion-item-divider>
      <ion-segment #segmentPay>
        <ion-segment-button (click)="this.formPackage.get('price').setValue(0)" [value]="0">
          <ion-icon name="card"></ion-icon>
          <ion-label>Transferencia</ion-label>
        </ion-segment-button>
        <ion-segment-button [value]="1">
          <ion-icon name="people"></ion-icon>
          <ion-label>Contra-Entrega</ion-label>
        </ion-segment-button>
      </ion-segment>
      <ion-item *ngIf="segmentPay.value == '1' ">
        <ion-label class="form" position="stacked">Valor del producto</ion-label>
        <ion-icon slot="start" name="cash"></ion-icon>
        <ion-input (ionFocus)="this.eventPriceFocus($event)" (ionBlur)="this.eventPriceBlur($event)" [value]="this.formattedAmount" #inputPrice placeholder="$0.00" type="tel"></ion-input>
      </ion-item>
      <ion-item-divider>
        <ion-label>Tiempo de Espera de Retiro</ion-label>
      </ion-item-divider>
      <ion-segment #segmentTime>
        <ion-segment-button [value]="0">
          <ion-icon name="checkmark"></ion-icon>
          <ion-label>Del Dia</ion-label>
        </ion-segment-button>
        <ion-segment-button [value]="1">
          <ion-icon name="calendar"></ion-icon>
          <ion-label>Programada</ion-label>
        </ion-segment-button>
      </ion-segment>
      <ng-container [ngSwitch]="segmentTime.value">
        <div *ngSwitchCase="0">
          <ion-accordion-group  #groupSelectTime expand="compact">
            <ion-accordion #selectTime value="" toggle-icon="arrow-down-circle">
              <ion-item slot="header">
                <ion-label>
                  <p>Dentro de </p>
                  <h4>{{ selectTime.value != ''? selectTime.value + ' Minutos ' : 'Seleccionar'}}</h4>
                </ion-label>
              </ion-item>
              <ion-item-group slot="content">
                <ion-item button (click)="selectTime.value = item; groupSelectTime.value = undefined; this.formPackage.get('timeout').setValue(add(this.timeNow,{minutes: item }).toISOString())" *ngFor="let item of timeOutList">
                  <ion-label>{{ item }} Minutos</ion-label>
                  <ion-icon slot="start" name="timer"></ion-icon>
                </ion-item>
              </ion-item-group>
            </ion-accordion>
          </ion-accordion-group>
        </div>
        <div *ngSwitchCase="1">
          <ion-item>
            <ion-datetime #dateTime color="orange" size="cover" first-day-of-week="1" locale="es" hour-cycle="h12" (ionChange)="dateTimeChange($event)" >
              <div slot="time-label">Seleccionar Hora</div>
            </ion-datetime>
          </ion-item>
        </div>
      </ng-container>

      <ion-item-divider>
        <ion-label>Ubicacion</ion-label>
      </ion-item-divider>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Ubicacion de retiro</ion-card-subtitle>
          <ion-card-title>¿A donde retiramos?</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item button (click)="setUbication('start')">
            <ion-label class="ion-text-wrap">{{ this.formPackage.get('location').get('start').get('address').value||'Seleccionar ubicacion'}}</ion-label >
            <ion-icon slot="start" name="pin"></ion-icon>
          </ion-item>
        </ion-card-content>
        <ion-card-header>
          <ion-item>
            <ion-label position="stacked">Indicaciones de Retiro</ion-label>
            <ion-textarea [autoGrow]="true" (ionChange)="addDesc($event,'start')" placeholder="(Opcional) Indicaciones de Entrega (Dirección, Etapa, mz, Villa, etc) "></ion-textarea>
          </ion-item>
        </ion-card-header>
      </ion-card>

      <div *ngIf="formPackage.get('location').get('start').valid == true">
        <ion-item-divider>
          <ion-label>Informacion de entrega</ion-label>
        </ion-item-divider>
        <ion-card >
          <ion-card-header>
            <ion-card-subtitle>Ubicacion de Entrega</ion-card-subtitle>
            <ion-card-title>¿A donde vamos?</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item button (click)="setUbication('goal')">
              <ion-label class="ion-text-wrap">{{ this.formPackage.get('location').value.hasOwnProperty('goal') ? this.formPackage.get('location').get('goal').get('address').value :'Seleccionar ubicacion'}}</ion-label >
              <ion-icon slot="start" name="pin"></ion-icon>
            </ion-item>
          </ion-card-content>
          <ion-card-header>
            <ion-item>
              <ion-icon slot="start" name="person"></ion-icon>
              <ion-label class="form" position="stacked" >Nombre y Apellido</ion-label >
              <ion-input formControlName="user_name" type="text" placeholder="Ingresar" ></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon slot="start" name="call"></ion-icon>
              <ion-label class="form" position="stacked" >Numero de contacto</ion-label>
              <ion-input formControlName="user_phone" type="tel" placeholder="(099) 999-99-99" (ionBlur)="postFormat(this.formPackage.get('user_phone'))"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Indicaciones de Retiro</ion-label>
              <ion-textarea [autoGrow]="true" (ionChange)="addDesc($event,'goal')" placeholder="(Opcional) Indicaciones de Entrega (Dirección, Etapa, mz, Villa, etc) "></ion-textarea>
            </ion-item>
            <ion-grid style="padding: 0;" fixed>
              <ion-row>
                <ion-col size="12">
                  <ion-card-header>
                    <ion-card-title>Generar Validaciones</ion-card-title>
                    <ion-card-subtitle>A continuacion podra generar un formulario o una confirmacion el cual le otorgara un enlace para que pueda compartir con su cliente  👌</ion-card-subtitle>
                  </ion-card-header>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-button  #btnSubmit color="orange" (click)="genTicket()" expand="block"  shape="round">
                    <ion-icon slot="start" name="checkmark-circle"></ion-icon>
                    <ion-label style="overflow: unset;">Confirmación </ion-label>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-header>
        </ion-card>
      </div>

      
 
        <ion-item-divider>
          <ion-label>Costo de Ruta </ion-label>
        </ion-item-divider>
        <ion-grid  class="ion-no-padding">
          <ion-row>
            <ion-col >
              <ion-item>
                <ion-label>
                  <p>Distancia</p>
                  <h2>{{this.kilometerRef || '0 km'}}</h2>
                </ion-label>
                <ion-icon slot="start" name="send"></ion-icon>
              </ion-item>
            </ion-col>
            <ion-col size="6" *ngIf="this.memberships == null">
              <ion-item>
                <ion-label>
                  <p>Precio</p>
                  <h2>{{this.formPackage.get('price_route').value | currency}}</h2>
                </ion-label>
                <ion-icon slot="start" name="logo-usd"></ion-icon>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
  
      <ion-item-divider>
        <ion-label>Recuerde</ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-icon name="grid" slot="start"></ion-icon>
        <ion-label class="ion-text-wrap">
          Dimenciones maximas del envio 47x43x40
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="bicycle" slot="start"></ion-icon>
        <ion-label class="ion-text-wrap">
          Todos sus nuestros conductores son verificados
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="archive" slot="start"></ion-icon>
        <ion-label class="ion-text-wrap">Peso maximo de envio 5kg</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="flask" slot="start"></ion-icon>
        <ion-label class="ion-text-wrap">
          No puedes enviar productos quimicos, armas, dinero, joyas o sustancias quimicas
        </ion-label>
      </ion-item>
    </ion-item-group>

    <ion-button [disabled]="!this.formPackage.valid" color="orange"  class="ion-margin" type="submit" expand="block" fill="outline" shape="round">
      <ion-label>Generar Encomienda</ion-label>
      <ion-icon slot="end" name="bag"></ion-icon>
    </ion-button>
  </form>
</ion-content>