<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title>Fastworld</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="onExit()">
        <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid
    fixed 
    class="ion-text-center"
    *ngIf="this.formRegister.get('role').value == '' " 
    style="display: flex; height: 100%; align-items: center;justify-content: center;"
    >
    <ion-row class="ion-align-self-center">
      <ion-col size="6">
        <ion-card button (click)="setRole('cliente')">
          <ion-card-header>
            <ion-card-subtitle>Registrate como</ion-card-subtitle>
            <ion-card-title>Cliente</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-img src="../../../../../assets/svg/undraw_Confirmation_re_b6q5.svg"></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card button (click)="setRole('conductor')">
          <ion-card-header>
            <ion-card-subtitle>Registrate como</ion-card-subtitle>
            <ion-card-title>Repartidor</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-img src="../../../../../assets/svg/undraw_Delivery_address_re_cjca.svg"></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <form 
    (ngSubmit)="onSubmit(this.formRegister)"
    *ngIf="this.formRegister.get('role').value != '' "
    [formGroup]="this.formRegister" class="ion-text-center"
    >
    <ion-grid fixed>
      <ion-row>
        <ion-col sizeXs="12">
          <ion-item-group>
            <ion-item-divider>
              <ion-label>Información</ion-label>
            </ion-item-divider>
            <ion-item>
              <ion-label position="stacked">Nombre</ion-label>
              <ion-input formControlName="name" autocomplete="name" type="text" placeholder="Ingresar nombre"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Apellido</ion-label>
              <ion-input formControlName="lastname" type="text" placeholder="Ingresar apellido"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Telefono</ion-label>
              <ion-input formControlName="phone" autocomplete="tel" type="tel" placeholder="Numero de Telefono"></ion-input>
              <ion-icon slot="start" name="call"></ion-icon>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Correo</ion-label>
              <ion-input formControlName="email" autocomplete="email" type="email" placeholder="example@email.com"></ion-input>
              <ion-icon slot="start" name="mail"></ion-icon>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Contraseña</ion-label>
              <ion-input formControlName="pwd" autocomplete="current-password" type="password" placeholder="Ingresar contraseña"></ion-input>
              <ion-icon slot="start" name="key"></ion-icon>
            </ion-item>
          </ion-item-group>
        </ion-col>
        <ng-container formGroupName="document">
          <ion-col sizeXs="12">
            <ion-item-divider>
              <ion-label>Direccion</ion-label>
            </ion-item-divider>
            <ion-item>
              <ion-label position="stacked">Ciudad</ion-label>
              <ion-input formControlName="city" name="city" placeholder="Ingresar" type="text"></ion-input>
              <ion-icon slot="start" name="location"></ion-icon>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Mi Direccion</ion-label>
              <ion-input formControlName="address" name="address" placeholder="Ingresar" type="text"></ion-input>
              <ion-icon slot="start" name="home"></ion-icon>
            </ion-item>
            <ion-item-group>
              <ion-item-divider>
                <ion-label>Documentacion</ion-label>
              </ion-item-divider>
              <ion-item>
                <ion-label position="stacked">Cédula</ion-label>
                <ion-input formControlName="dni" type="tel" placeholder="Identificación"></ion-input>
                <ion-icon slot="start" name="id-card"></ion-icon>
              </ion-item>
              <ion-item-divider>
                <ion-label><p> Por favor ingresar la imagenes en horizontal</p></ion-label>
              </ion-item-divider>
              <ion-item button (click)="fileDni.click();">
                <ion-label position="stacked">Imagen Documento</ion-label>
                <input id="dniRef" #fileDni type="file" accept="image/*" (change)="imgHandler($event)">
                <h6>{{ "Seleccione un archivo."}}</h6>
              </ion-item>
              <ion-item button (click)="fileLicence.click()">
                <ion-label position="stacked">Imagen Licencia</ion-label>
                <input id="licenceRef" #fileLicence type="file" accept="image/*" (change)="imgHandler($event)">
                <h6>{{ "Seleccione un archivo."}}</h6>
              </ion-item>
            </ion-item-group>
          </ion-col>
          <ion-col size="12" formGroupName="vehicle" *ngIf="this.formRegister.get('role').value == 'conductor' ">
            <ion-item-group>
              <ion-item-divider>
                <ion-label>Vehiculo</ion-label>
              </ion-item-divider>
              <ion-radio-group formControlName="type" #radioGroup>
                <ion-item>
                  <ion-label>Bicicleta</ion-label>
                  <ion-icon slot="start" name="walk"></ion-icon>
                  <ion-radio value="bicicleta"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>Motocicleta</ion-label>
                  <ion-icon slot="start" name="bicycle"></ion-icon>
                  <ion-radio value="motocicleta"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>Automovil</ion-label>
                  <ion-icon slot="start" name="car"></ion-icon>
                  <ion-radio value="automovil"></ion-radio>
                </ion-item>
              </ion-radio-group>
              <ng-container id="infoVehicle" *ngIf=" radioGroup.value != '' && radioGroup.value  != 'bicicleta' ">
                <ion-item-divider>
                  <ion-label>Informacion del vehiculo</ion-label>
                </ion-item-divider>
                <ion-item>
                  <ion-label position="stacked">Placa</ion-label>
                  <ion-input formControlName="enroller" name="enroller" placeholder="Ingresar" type="text"></ion-input>
                  <ion-icon slot="start" name="card"></ion-icon>
                </ion-item>
                <ion-item>
                  <ion-label position="stacked">Marca</ion-label>
                  <ion-input formControlName="maker" name="maker" placeholder="Ingresar" type="text"></ion-input>
                  <ion-icon slot="start" name="speedometer"></ion-icon>
                </ion-item>
                <ion-item>
                  <ion-label position="stacked">Modelo</ion-label>
                  <ion-input formControlName="model" name="model" placeholder="Ingresar" type="text"></ion-input>
                  <ion-icon slot="start" name="shapes"></ion-icon>
                </ion-item>
                <ion-item>
                  <ion-label position="stacked">Año</ion-label>
                  <ion-input formControlName="year" name="year" placeholder="Ingresar" type="tel"></ion-input>
                  <ion-icon slot="start" name="today"></ion-icon>
                </ion-item>
                <ion-item>
                  <ion-label position="stacked">Color</ion-label>
                  <ion-input formControlName="color" name="color" placeholder="Ingresar" type="text"></ion-input>
                  <ion-icon slot="start" name="eyedrop"></ion-icon>
                </ion-item>
              </ng-container>
            </ion-item-group>
          </ion-col>
        </ng-container>
      </ion-row>
    </ion-grid>
    <ion-button type="submit" class="ion-margin">
      <ion-label>Registrar</ion-label>
      <ion-icon slot="start" name="checkmark"></ion-icon>
    </ion-button>
  </form>


</ion-content>