<ion-split-pane contentId="menu-cliente" >
  <ion-menu 
    contentId="menu-cliente"
    menuId="menu-cliente"
    side="start"
    type="overlay"
    >
    <ion-header>
      <ion-toolbar>
        <ion-title>Fastworld Cliente</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-item-group>
        <ion-item>
          <ion-label>
            <p>{{this.user.role | lowercase}} #{{this.user.id}}</p>
            <h4>{{ this.user.name }} {{this.user.lastname}}</h4>
          </ion-label>
          <ion-avatar slot="start">
            <img [src]="'../../assets/svg/userPreset.svg'" />
          </ion-avatar>
        </ion-item>
        <ion-grid class="ion-no-padding" *ngIf="this.user.memberships !== null">
          <ion-row>
            <ion-col size="6">
              <ion-item>
                <ion-label>
                  <p>Membresia</p>
                  <h4>{{this.user.memberships.type}}</h4>
                </ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item>
                <ion-label>
                  <p>Expiración</p>
                  <h4>{{formatDistanceStrict(this.user.memberships.expire ) || ''}}</h4>
                </ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item-group>
      <ion-item-group> 
        <ion-menu-toggle
          *ngFor="let item of listMenu"
          auto-hide="false" 
          >
          <ion-item
            detail="true"
            [routerLink]="[ '/menu/' + this.user.role + '/' + item.url ]"
            routerDirection="root"
            routerLinkActive='active-link'
            [routerLinkActiveOptions]="{exact: true}"
            >
            <ion-label>{{item.title}}</ion-label>
            <ion-icon slot="start" [name]="item.icon"></ion-icon>
          </ion-item>
        </ion-menu-toggle> 
      </ion-item-group>
    </ion-content>
    <ion-footer>
      <ion-toolbar>
        <ion-title class="ion-text-center">
          <ion-button expand="block" shape="round" (click)="onLogOut()">
            <ion-icon slot="end" name="close"></ion-icon>
            <ion-label>Cerrar Sesión</ion-label>
          </ion-button>
        </ion-title>
      </ion-toolbar>
    </ion-footer>
  </ion-menu>
  
  <ion-router-outlet id="menu-cliente"> </ion-router-outlet>
  
</ion-split-pane>