<ion-header>
  <ion-toolbar class="header ion-text-center">
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-menu-button menu="menu-cliente"></ion-menu-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>Mi Perfil</ion-title>
    <ion-buttons slot="end">
      <ion-button id="profile-options">
        <ion-icon slot="icon-only" name="cog"></ion-icon>
      </ion-button>
      <ion-popover [dismissOnSelect]="true" trigger="profile-options">
        <ng-template>
          <ion-content>
            <ion-item-group>
              <ion-item-divider>
                <ion-label>Opciones</ion-label>
              </ion-item-divider>
              <ion-item button (click)="this.editProfile()">
                <ion-label>Editar Perfil</ion-label>
                <ion-icon slot="end" name="pencil"></ion-icon>
              </ion-item>
              <ion-item button >
                <ion-label>Editar Empresa</ion-label>
                <ion-icon slot="end" name="people"></ion-icon>
              </ion-item>
              <ion-item button >
                <ion-label>Cambiar Contraseña</ion-label>
                <ion-icon slot="end" name="lock-closed"></ion-icon>
              </ion-item>
            </ion-item-group>
          </ion-content>
        </ng-template>
      </ion-popover>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid fixed>
    <ion-row >
      <ion-col size="12" style="display: flex;" class="ion-justify-content-center">
        <ion-img class="photo-profile" src="https://via.placeholder.com/168"></ion-img>
      </ion-col>
      <ion-col size="12">
        <ion-card-header class="ion-text-center">
          <ion-card-subtitle>{{this.profile.role | uppercase}}</ion-card-subtitle>
          <ion-label>{{this.profile.name}} {{this.profile.lastname}}</ion-label>
          <!-- <ion-card-title>Nombre Empresa</ion-card-title> -->
        </ion-card-header>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card *ngIf="this.profile.role == 'cliente' ">
    <ion-card-header>
      <ion-item class="ion-no-padding">
        <ion-label>
          <ion-card-subtitle>Membrecia </ion-card-subtitle>
          <ion-card-title>{{ this.profile.memberships != null ? this.profile.memberships.type : 'Sin Membrecia'}}</ion-card-title>
        </ion-label>
        <ion-icon slot="end" name="id-card"></ion-icon>
      </ion-item>
    </ion-card-header>
    <ion-card-content *ngIf="this.profile.memberships != null ">
      <ion-grid fixed class="ion-no-padding">
        <ion-row>
          <ion-col size="6">
            <ion-item class="ion-text-center">
              <ion-label>
                <p>Adquirida</p>
                <h4>{{this.profile.memberships.start | date:'dd/MM/yyyy'}}</h4>
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item class="ion-text-center">
              <ion-label>
                <p>Expiración</p>
                <h4>{{this.profile.memberships.expire | date:'dd/MM/yyyy'}}</h4>
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>