<ion-header>
  <ion-toolbar>
    <ion-title>Crear Encomienda</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="onExit()">
        <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content > 
  <div style="height: 100%; width: auto; position: relative;">
    <div style="position: absolute; width: 100%; z-index: 1;">
      <ion-searchbar 
        #searchBar
        class="ion-no-padding" 
        placeholder="Dirección" 
        type="search" 
        (ionInput)="onSearchChange(searchBar.value)" 
        (keyup.enter)="firstSelect()"
      ></ion-searchbar>
      <ion-item-group>   
        <ng-container  *ngFor="let item of autocompleteItems; let i = index " >
          <ion-item 
            [id]="i"
            button 
            (click)="selectAddress(item)">
            <ion-label>
              <p>{{item.formatted_address}}</p>
            </ion-label>
          </ion-item>
        </ng-container>
 
      </ion-item-group>
    </div>
    <div #content (window:resize)="onResize($event)" style="height: 100%; width: 100%;">
      <google-map #map (mapClick)="addMarker($event)"  [options]="mapOptions" width="100%" [height]="this.mapHeight">
        <map-marker  (mapDragend)="dragendMarker($event)" [options]="markerOptions" [position]="marker"></map-marker>
      </google-map >
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-grid fixed>
      <ion-row>
        <ion-col>
          <ion-chip class="ion-text-center" (click)="actualUbication()">
            <ion-icon name="location" color="dark"></ion-icon>
            <ion-label>Seleccionar Ubicacion Del Puntero Actual</ion-label>
          </ion-chip>
        </ion-col>
        <ion-col size="3">
          <ion-fab-button (click)="centerMyUbication()">
            <ion-icon name="locate"></ion-icon>
          </ion-fab-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>