<ion-content>
  <ion-grid fixed style="height: 100%;">
    <ion-row style="height: 100%;" class="ion-justify-content-center ion-align-items-center">
      <ion-col id="col-img" sizeXs="12" sizeSm="6" style="display: flex;" class="ion-justify-content-center ion-align-items-center" >
        <ion-img [src]="'../../../assets/svg/naranja.svg'"></ion-img>
      </ion-col>
      <ion-col sizeXs="12" sizeSm="6" >
        <div id="body">
          <ion-card>
            <ion-segment color="orange" #segmentTime [value]="'login'">
              <ion-segment-button [value]="'login'">
                <ion-icon name="person"></ion-icon>
                <ion-label>Ingresar</ion-label>
              </ion-segment-button>
            </ion-segment>
            <ng-container [ngSwitch]="segmentTime.value">
              <div *ngSwitchCase="'login'">
                <ion-card>
                  <ion-card-header class="ion-text-center">
                    <ion-card-subtitle>Ingresar</ion-card-subtitle>
                    <ion-card-title>Fastworld</ion-card-title>
                  </ion-card-header>
                  <form [formGroup]="this.formLogin" (ngSubmit)="submit(this.formLogin)">
                  <ion-card-content class="ion-text-center">
                    <ion-item>
                      <ion-label position="stacked">Usuario</ion-label>
                      <ion-icon slot="start" name="people"></ion-icon>
                      <ion-input required formControlName="email" type="text"></ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-label position="stacked">Contraseña</ion-label>
                      <ion-icon slot="start" name="lock-closed"></ion-icon>
                      <ion-input required formControlName="password" type="password"></ion-input>
                    </ion-item>
                    <h3>¿Olvidaste tu contraseña? <br> <a (click)="rescuePass()" >Recuperar</a></h3>
                    <h3>¿Aun no tienes membrecia? <a [routerLink]="['../registrar']" >Registrate aqui</a></h3>

                    <ion-button color="orange" shape="round" class="ion-margin" block type="submit" [disabled]="this.formLogin.invalid">
                      <ion-label>Ingresar</ion-label>
                      <ion-icon slot="end" name="checkmark-circle-outline"></ion-icon>
                    </ion-button>
                  </ion-card-content>
                </form>
                </ion-card>
              </div>
            </ng-container>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
