<ion-content>
  <div class="body" *ngIf="this.isLoad">
    <ion-card *ngIf="template">
      <ion-card-header class="ion-text-center ion-padding ">
        <ion-grid fixed>
          <ion-row>
            <ion-col size="12">
              <ion-img [src]="'../../../assets/svg/banner.svg'"></ion-img>
            </ion-col>
 
          </ion-row>
        </ion-grid>
        <ion-card-title>Usted a Solicitado una Encomienda</ion-card-title>

      </ion-card-header>

      <ion-card-content class="ion-no-padding">
        <ion-label class="ion-text-center">
          <h3><ion-text color="orange">Remitente</ion-text></h3>
          <ion-text color="ligth"><h6><b>Ticket</b> {{this.package.product.id}}</h6></ion-text>
          <h1>{{this.package.client.name || 'nombre'}} {{this.package.client.lastname || 'apellido'}}</h1>
        </ion-label>
          <ion-grid fixed>
            <ion-row>
              <ion-col size="6">
                <ion-item #itemName>
                  <ion-label position="stacked">Nombre y Apellidos</ion-label>
                  <ion-input (ionFocus)="itemPhone.color = ''" (ionBlur)="itemName.color = '' " #nameInput [value]="this.package.name != null ? this.package.name : '' " (ionChange)="changeFormatName(itemName,nameInput)" type="text" placeholder="Ingresar Nombre"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="6">
                <ion-item #itemPhone>
                  <ion-label position="stacked">Telefono</ion-label>
                  <ion-input (ionFocus)="itemName.color = ''" (ionBlur)="itemPhone.color = '' " [value]=" this.package.phone != null ? this.package.phone : '' " (ionChange)="changeFormatPhone(itemPhone,phoneInput)" #phoneInput (ionBlur)="postFormatPhone(phoneInput.value, phoneInput)" type="tel" placeholder="Ingresar telefono"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-item >
                  <ion-label position="stacked">Informacion Adicional</ion-label>
                  <ion-textarea (ionFocus)="itemPhone.color = '' ; itemName.color = ''"  [value]="this.position.indications" (ionChange)="addDesc($event)" placeholder="Indicaciones de Entrega "></ion-textarea>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        
      </ion-card-content>
      <ion-card-header class="ion-text-center ion-padding ">
        <ion-card-subtitle>Para confirmar la entrega es necesario que nos envie su ubicacion</ion-card-subtitle>
        <ion-button [disabled]=" !validation() " color="orange" class="ion-margin" (click)="onClick()" expand="block" shape="round">
          <ion-label>Enviar mi Ubicación</ion-label>
          <ion-icon slot="start" name="location"></ion-icon>
        </ion-button>
      </ion-card-header>
    </ion-card>

    <ion-card *ngIf="!template">
      <ion-card-header>
        <ion-card-subtitle>Gracias por confiar en nosotros 🖐</ion-card-subtitle>
        <ion-card-title>Su ubicacion a sido enviada con exito</ion-card-title>
      </ion-card-header>
      <ion-card-content class="ion-text-center">
          <ion-label> 
            <h4>Ya puede cerrar esta Pagina 🙂</h4>
          </ion-label>

        </ion-card-content>
    </ion-card>
  </div>
</ion-content>
